<% form_for @customer do |f| -%>
  <%= f.error_messages %>

  <div class="span-4">
    <%= f.label :first_name, h(t(:first_name)) %>
  </div>
  <div class="span-12 last">
    <%= f.text_field :first_name %>
  </div>
  <div class="span-4">
    <%= f.label :last_name, h(t(:last_name)) %>
  </div>
  <div class="span-12 last">
    <%= f.text_field :last_name %>
  </div>
  <div class="span-4">
    <%= f.label :balance, h(t(:balance)) %>
  </div>
  <div class="span-12 last">
    <%= f.text_field :balance %>
  </div>

  <div class="span-16 last">
    <%= f.submit h(t(:submit)) %>
  </div>
<% end -%>